
body{
    font-family: 'Philosopher', sans-serif;
}

.head{
    background-image: url("image/header-bg.png");
    margin-bottom: 150px;
    overflow: hidden;
    
}
h1{
    color: rgb(105, 23, 199);
    font-size: 30px;
}
.head img{
    width: 60%;
    hight: 5%;
}
button{
    background-color: rgb(94, 28, 201);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
    border: none;
}
.half-width{
    width: 45%;
    margin-bottom: 100px;
    margin-left: 5%;
    float: left;
.half-width{
    width:100%;
}
    
}
.text-area{
    margin-top: 150px;
}
.biography{
    background-image: url("image/biography-bg.png");
    margin-bottom: 150px;
    display: inline-block;
    align-items: center;
}
.bio{
    font-size: 30px;
}
.biography img{
    width: 60%;

    
}
.work-text{
    text-align: center;    
}
.work img{
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 150px;
    float: left;  
}


.feedback{
    background-image: url("image/footer-bg.png");
    text-align: center;
    
}
h3 h4 h6{
    text-align: center;
}
h3{
    font-size: 30px
}
.designation{
    color:dimgray;
    font-size: 10px;
}
footer{
    text-align: center;
    font-size: 15px;
}